*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #16161A;
    margin: 0;
    height: auto;
    width: auto;
}

.title{
    color: white;
    position: relative;
}

.title-text {
    margin: 47px 0 0;

}

.title-text h1 {
    margin: 0;
    padding-left: 70px;
}

img{
    width: 60px;
}
    
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 45px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.retangulo-cinza{
    background-color: #1C1C20;
    height: 25px;
    width: 100%
}

.retangulo-cinza-2{
    background-color: #1C1C20;
    height: 25px;
    width: 100%;
    margin: 25% 0 0;
}


.menu-lista{
    list-style-type: none;
    padding: 0;
}

/* Aplica menor espaçamento aos 5 primeiros itens */
.menu-lista li:nth-child(-n+5) {
    padding: 0px 0; /* Espaçamento menor para os 5 primeiros */
}

.menu-lista-final{
    padding: 100px 0 0;
}

.menu-lista li, .menu-lista-final li {
    margin: 0 10px;
    transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

.menu-lista li:hover, .menu-lista-final li:hover {
    transform: scale(1.2); /* Aumenta o tamanho do ícone em 20% */
    filter: brightness(1.5); /* Aumenta o brilho para destacar */
}

.btn{
    display: flex;
    justify-content: flex-end;
    margin: 8% 10% 0 0;
    
}

.btn-custom{
    color:#999999;
    background-color: #1C1C20;
    border: 2px solid #000;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 900;
    margin-left: 50px;
    padding: 10px 20px;
}

.btn-custom:hover {
    color: #000;
    background-color: #999999; /* Cor cinza escuro ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho do botão em 10% */
}

.info-vendas {
    color:#999999;
    background-color: #16161A;
    padding: 20px;
    border-radius: 40px;
    border: 1px solid #ccc;
    width: 300px;
    margin: 3% 0 0 66.5%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.info-vendas p {
    margin: 5px 0;
}

.info-vendas .titulo-do-circulo{
    font-size: medium;
    font-weight: 800;
    margin: 0;
}

.info-vendas .valor-do-circulo{
    font-size: 2.5rem;
    font-weight: 900;
    margin:0;
    
}

.info-vendas .total-de-vendas{
    font-size: 0.8rem;
    font-weight: 900;
    margin:-6.2% 0% 0% 9%;
    
}

.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    z-index: 1001; /* Sobrepõe outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Cor de fundo com transparência */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% de margem superior e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}





