body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #16161A;
    height: auto;
    width: auto;
    color: #fffffe;
  }
  
.navbar ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 8%;
    background-color:#010101;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
.navbar li a {
    display: block;
    color: #010101;
    padding: 8px 16px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1,1);
    transform: translateZ(0) scale(1,1) ;
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
    
  }
  
.navbar  li a.active {
    background-color: #28282985;
    color: #fffffe;
  }
  
.navbar  li a:hover:not(.active) {
    background-color: #7f5af0;
    color: #fffffe;
    transform: scale(1.1); 
   
}

    
.navbar a:hover,a:focus {
    text-decoration:none;
}
  
.navbar .sub-menu{
    position: relative;
    
}
.navbar .iconeMain{
    width:  80px;
    height: 80px;
    padding-left: 20px;
}


.navbar .iconeLeftNavbar {
    width: 45px;
    height: 45px;
}

.nav-text {
    position: fixed;
    vertical-align:middle;
    width:20px;   
}
li a .animated-span {
    transform: translatex(-800%);
    color: #fffffe;
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 20px;
    padding: 12% 58px;
}

li a {
    position: relative;
    width: 90%;
}

li a:hover .animated-span {
    transform: translatex(0%);
}
span {
    transition: 500ms;
} 
.conteudoPrincipal {
    margin-left: 8%; /*esse elemento div tem uma margem esquerda de 20%. porque a navegação lateral estar definida para uma largura de 8%. não remover a margem ou a navegação lateral irá sobrepor desta div*/
    padding: 1px 16px;
    height: 100%;
    box-sizing: border-box;
}
.botoesIndex{ /*Essa classe controla as posções dos botões do index NÃO REMOVER A MARGIN ou background dos botões ira sobrepor a barra de navegação*/
  margin-left: 50%;
  padding-top: 5%;
  padding-left: 15%;
}
.botoesPrecos{
  margin-left: 50%; /*Essa classe controla as posções dos botões de Preços NÃO REMOVER A MARGIN ou background dos botões ira sobrepor a barra de navegação*/
  padding-left: 15%;
  margin-top: -3%;
  
}
.botoesNF{
    margin-left: 20%; /*Essa classe controla as posções dos botões de NotasFiscais NÃO REMOVER A MARGIN ou background dos botões ira sobrepor a barra de navegação*/
    margin-top: -3%;
    padding-left: 10%;
}
.tituloPage{
    padding-top: -10%;
    padding-left: -70%; 
}



.retangulo-cinza{
    background-color: #1C1C20;
    height: 25px;
    width: 100%
}
  
.btn{
    display: flex;
    justify-content: flex-end;
    margin: 8% 10% 0 0;
}

.btn-custom{
    color:#999999;
    background-color: #1C1C20;
    border: 2px solid #000;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 900;
    margin-left: 50px;
    padding: 10px 20px;
    text-decoration: none;
    
}

.btn-custom:hover {
    color: #000;
    background-color: #999999; /* Cor cinza escuro ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho do botão em 10% */
}

.info-vendas {
    color:#999999;
    background-color: #16161A;
    padding: 20px;
    border-radius: 40px;
    border: 1px solid #ccc;
    width: 300px;
    margin: 5% 0 0 66.5%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.info-vendas p {
    margin: 5px 0;
}

.info-vendas .titulo-do-circulo{
    font-size: medium;
    font-weight: 800;
    margin: 0;
}

.info-vendas .valor-do-circulo{
    font-size: 2.5rem;
    font-weight: 900;
    margin:0;
    
}

.info-vendas .total-de-vendas{
    font-size: 0.8rem;
    font-weight: 900;
    margin:-6.2% 0% 0% 9%;
    
}

.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    z-index: 1001; /* Sobrepõe outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4); /* Cor de fundo com transparência */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% de margem superior e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
}
.retangulo-cinza{
  background-color: #1C1C20;
  height: 25px;
  width: 100%
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.navegacaoProdutosMain{
    padding-left: 450px;
    margin-top: 35px;
}

.navegacaoProdutosMain a{
    color:#fefefe;
    text-decoration: none;
    text-align: center;
    padding: 20px 20px;
}
.navegacaoProdutosMain li{
    float:inline-start;
    color:#999999;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 15px 20px;
    overflow: hidden;    
          
}
.IconeProdutosMain{
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -40px;
    -webkit-filter: invert(50%);
    filter: invert(50%);  
    padding-right: 5px;  
}
.navegacaoProdutosMain a img:hover{
    -webkit-filter:invert(33%) sepia(86%) saturate(2237%) hue-rotate(238deg) brightness(99%) contrast(91%);
    filter:invert(33%) sepia(86%) saturate(2237%) hue-rotate(238deg) brightness(99%) contrast(91%);
}

.navegacaoProdutosMain li a:hover:not(.active) {
    color:  #7f5af0;   
}
.navegacaoProdutosMain li a.active {
    color: #fffffe;     
}
.navegacaoProdutos ul {
 list-style-type: none;
 padding-left: 500px;
 margin-top: 50px;
 overflow: hidden;
}
.navegacaoProdutos a{
    color:#fefefe;
    text-decoration: none;
    padding: 20px 20px;
    text-align: center;
       
}
.navegacaoProdutos li{
    float:left;
    color:#999999;
    background-color: #1C1C20;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s; 
    padding: 15px 20px;
   
}
.navegacaoProdutos li a:hover:not(.active) {
    color: #7f5af0;
  
  
}
.navegacaoProdutos li a.active {
    background-color: #28282985;
    color: #fffffe;
}
.botoesProduto{
    padding-top: 660px;
    margin-left: 20%;
    margin-right: 14%;

}
.btnCprodutos{
    color:#999999;
    background-color: #1C1C20;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 900;
    padding: 10px 15px;
    text-decoration: none;
  
}
.btnCProdutos1, .btnCProdutos2 {
    display: block;
}
.btnCProdutos1{
    float: left;  
}
.btnCProdutos2{
    float: right;     
}
.btnCprodutos:hover {
    color: #000;
    background-color: #999999; 
    transform: scale(1.05); /* Aumenta o tamanho do botão em 5% */
}
