body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #16161A;
    height: auto;
    width: auto;
    color: #fffffe;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 8%;
    background-color:#010101;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #010101;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #fffffe;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #7f5af0;
    color: white;
    transform: scale(1.1); 
   
  }

.no-touch .scrollable.hover {
    overflow-y:hidden;
}
    
.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}
    
a:hover,a:focus {
    text-decoration:none;
}
  
.sub-menu{
    position: relative;
    
}
.iconeMain{
    width:  50px;
    height: 50px;
}


.iconeLeftNavbar {
    width: 45px;
    height: 45px;
}

.nav-text {
    position: fixed;
    vertical-align:middle;
    width:20px;   
}
  
.conteudoPrincipal {
    margin-left: 20%;  /*esse elemento div tem uma margem esquerda de 20%. porque a navegação lateral estar definida para uma largura de 8%. não remover a margem ou a navegação lateral irá sobrepor desta div*/
    padding: 1px 16px;
    height: 100%;
    box-sizing: border-box;
}
.botoesIndex{ /*Essa classe controla as posções dos botões do index NÃO REMOVER A MARGIN ou background dos botões ira sobrepor a barra de navegação*/
  margin-left: 50%;
  padding-top: 5%;
  padding-left: 15%;
}
.botoesPrecos{
  margin-left: 50%; /*Essa classe controla as posções dos botões do index NÃO REMOVER A MARGIN ou background dos botões ira sobrepor a barra de navegação*/
  padding-top: 5%;
  padding-left: 15%;
}

span{transition:500ms;}
li a span{transform:translatex(-800%); color:#fffffe; position:absolute; top:0; left:0; height:1px; width:20px; padding:12% 58px;}
    li a{position:relative; width:90%;}
     li a:hover span{transform:translatex(0%);}

     .retangulo-cinza{
      background-color: #1C1C20;
      height: 25px;
      width: 100%
  }
  
.btn{
    display: flex;
    justify-content: flex-end;
    margin: 8% 10% 0 0;
    
}

.btn-custom{
    color:#999999;
    background-color: #1C1C20;
    border: 2px solid #000;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 900;
    margin-left: 50px;
    padding: 10px 20px;
}

.btn-custom:hover {
    color: #000;
    background-color: #999999; /* Cor cinza escuro ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho do botão em 10% */
}

.info-vendas {
    color:#999999;
    background-color: #16161A;
    padding: 20px;
    border-radius: 40px;
    border: 1px solid #ccc;
    width: 300px;
    margin: 5% 0 0 66.5%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.info-vendas p {
    margin: 5px 0;
}

.info-vendas .titulo-do-circulo{
    font-size: medium;
    font-weight: 800;
    margin: 0;
}

.info-vendas .valor-do-circulo{
    font-size: 2.5rem;
    font-weight: 900;
    margin:0;
    
}

.info-vendas .total-de-vendas{
    font-size: 0.8rem;
    font-weight: 900;
    margin:-6.2% 0% 0% 9%;
    
}

.modal {
    display: none; /* Esconde o modal por padrão */
    position: relative;
    z-index: 1001; /* Sobrepõe outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4); /* Cor de fundo com transparência */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% de margem superior e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
}
.retangulo-cinza{
  background-color: #1C1C20;
  height: 25px;
  width: 100%
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
